GEMINI_API_KEY=
SUPABASE_URL=
SUPABASE_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=https://cloud.langfuse.com
HUGGINGFACE_API_KEY=
SARVAM_API_KEY=
ELEVENLABS_API_KEY=
OPENWEATHERMAP_API_KEY=
CAL_API_KEY=
CAL_EVENT_TYPE_ID=
